PORT=5000
MONGO_URI=mongodb+srv://nishithanisha2005_db_user:nishitha123@tourvista.tzjw1ma.mongodb.net/?appName=TourVista
JWT_SECRET=3a5ba8f5366c42bd2693e56aab112b1a443a8426c77e174ca9a8ca61908318cd
CLIENT_URL=https://tourism-nishitha3.vercel.app/
